@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

p {
    margin-bottom: 15px;
    line-height: 1.5em;
}

h1 , h2 {
    line-height: 1.2em;
    text-align: left;
    margin-bottom: 20px;
}

header, section.normal {
    padding: 20px;
}


section.flex-content{
padding: 20px;
background-color:rgba(103, 117, 114, 0.514);    /*CONTEUDO SECTION DESTACADO COM BACKGROUND CIANO */

display: flex;
flex-flow: column nowrap;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
}

article > div.text {
    flex: 1 1 500px;

    padding: 8px;

    
}

article div.media {
    flex: 1 0 500px;

    padding: 8px;
    
}

div.media img {
    display: block;

    margin: auto;
}

div.media iframe {
    display: block;

    margin: auto;
}

