@charset "UTF-8";

                                    /* Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat ;
    background-size: cover;
    background-position: center center;
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 1.3en;
}

main {
    background-color: rgba(99, 77, 77, 0.753);
    width: 90vw;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4) ;
}

img {
    display: block;
    margin: auto;
}


img#PC { display: none;}
img#Tablet { display: none;}
img#Phone { display:block;}
img#print { display: none;}
img#TV { display: none;}






