@charset "utf-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: linear-gradient(to right, #4B4952 , #004F4D)
    
}

main {
    background-color: white;
    border-radius : 10px;   
    box-shadow : 5px 5px 15px rgb(52, 49, 53);
    width: 600px;
    padding: 10px;
    margin:auto 
}

h1 {
    color: #025c59;
    text-align: center;
    text-shadow: 1px 1px 3px #024b48cb; } 

h2 {
    color:#0d7e7a;;
}

